<h1 class="text-left" id="AboutMe">About Me</h1>
<div class="row">
  <div class="three columns">
    <img class="circle" src="static/images/headshot.png"><br>
    <div class="icons">
      <div class="custom-icon">
        <a class="fa fa-send fa-2x icon-underline" href="mailto:zach.attas@gmail.com" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-github fa-2x icon-underline" href="https://github.com/snackattas" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-linkedin-square fa-2x icon-underline" href="https://www.linkedin.com/in/zachary-attas-79b9a153" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-map-marker fa-2x icon-underline" href="https://www.google.com/maps/place/Chicago,+IL" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-twitter-square fa-2x icon-underline" href="https://twitter.com/snackattas1" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-medium fa-2x icon-underline" href="https://medium.com/@zach.attas" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="offset-by-one eight columns">
    <p>Hey, I'm Zach. I majored in philosophy in college, so I've always enjoyed questioning things. 
      After college, I took a job as a Quality Assurance analyst, not really knowing what Quality Assurance was, but knowing that I would be working for an exciting, cool software company, Epic!</p>
    <p>
      Once I learned about testing, on the job, I discovered that I liked it a lot! It appealed to the same part of my brain that was interested in philosophy. In pursuit of more testing expertise, I began digging 'under the hood' by teaching myself
      programming -- and soon I was hooked, scriping setup and contributing unit tests at Epic. Then I decided to do a Udacity bootcamp, to teach myself modern programming.
    <p>
      Now I'm a Software Development Engineer in Test (SDET), and haven't looked back since. I currently work at <a href="https://www.capsule.com/" target="_blank">Capsule</a> as a Staff SDET.
    </p>

    <p>I love digging into problems. I'm self-taught, so my programming education comes from a random assortment of MOOCs (Massive Open Online Courses), textbooks,
      podcasts, blogposts, stack overflow articles, meetup.com events, and small projects. When I'm not learning, I'm taking photography classes,
      improv classes, cooking something yummy, or managing the <a href="https://www.meetup.com/Chicago-Seleniumistas/" target="_blank">Chicago Seleniumistas Meetup Group</a>.</p>

  </div>
</div>