<h1 class="text-left" id="AboutMe">About Me</h1>
<div class="row">
  <div class="three columns">
    <img class="circle" src="static/images/headshot.png"><br>
    <div class="icons">
      <div class="custom-icon">
        <a class="fa fa-send fa-2x icon-underline" href=
        "mailto:zach.attas@gmail.com" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-github fa-2x icon-underline" href=
        "https://github.com/snackattas" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-linkedin-square fa-2x icon-underline" href=
        "https://www.linkedin.com/in/zachary-attas-79b9a153" target=
        "_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-map-marker fa-2x icon-underline" href=
        "https://www.google.com/maps/place/Evanston,+IL" target=
        "_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="fa fa-facebook-square fa-2x icon-underline" href=
        "https://www.facebook.com/zach.attas" target="_blank"></a>
      </div>
      <div class="custom-icon">
        <a class="icon_underline" href=
        "https://profiles.udacity.com/u/zacharyattas" target=
        "_blank"><img class="custom-icon" src="static/images/u.png"></a>
      </div>
      <div class="custom-icon">
        <a class="icon_underline" href="https://angel.co/zachary-attas"
        target="_blank"><img class="custom-icon angel" src=
        "static/images/angellist.png"></a>
      </div>
      <div class="custom-icon">
        <a class="icon_underline" href="https://disqus.com/by/zachattas/"
        target="_blank"><img class="custom-icon" src=
        "static/images/disqus.png"></a>
      </div>
    </div>
  </div>
  <div class="offset-by-one eight columns">
    <p>I'm Zach Attas. Welcome to my site.</p>
    <p>I'm a full stack developer, healthcare enthusiast, technologist,
    lifelong learner, chef, type-1 diabetic, and friend. Right
    now I'm studying web development independenly, patiently waiting to get
    signed up for my first gig.</p>
    <p>A bit about me: I love to experiment. When cooking, I'll always have
    a new new batch of fermented &lt;<i>insert esoteric vegetable</i>&gt;
    on hand. When writing short stories, I always try to break the bounds
    of what is thought possible. When buying a computer, my first question
    is, "How can I take it apart and make it better?"</p>
    <p>I graduated from Wesleyan University in 2013 with a degree in
    Philosophy and the Science in Society Program.</p>
    <p>When I decided to pursue coding, I enrolled in Udacity's Intro to
    Programming Nanodegree. Soon after I found myself enrolled in Udacity's
    Full Stack Web Developer Nanodegree.</p>
    <p>However, I'd say only %50 percent of my learning came from those
    courses. The rest is from a random assortment of MOOC curricula, online
    textbooks, stack overflow, podcasts, blogposts, code documentation,
    etc. Self-guided learning is my forte.</p>
  </div>
</div>
