<h1 class="text-left" id="Experience">Experience</h1>
<div class="row" id="Epic">
 <div class="twelve columns big-items">
  <figure class="cool-effect u-center-abs u-text-center">
   <div class="image">
    <img alt="Epic Systems" src="static/images/epic.jpg">
    <div class="image-text-content text-left">
      <a href="http://www.epic.com" target="_blank">
     <h2>
      <b>Epic</b>
     </h2><br>
     <h5>
      <span>Quality Assurance</span>
     </h5>
     <h5>Madison, WI</h5>
     <h5>Aug '13 - Oct '15</h5>
   </a>
     <div>
      <p>Wrote unit tests for core backend APIs and internationalization tools</p>
      <p>Developed one-off testing tools, .e.g., a script to grade internal projects</p>
      <p>Managed error investigation and disclosure for serious low-level technical issues</p>
     </div>
    </div>
   </div>
  </figure>
 </div>
 <div class="one column"></div>
</div>
<!-- <div class="row" id="KaiserPermanente">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <a href="https://thrive.kaiserpermanente.org/care-near-northwest"
      target="_blank">
      <div class="image">
        <img alt="Kaiser Permanente" src="static/images/kp.jpg">
        <div class="image-text-content text-left">
          <h2><b>Kaiser Permanente</b></h2><br>
          <h5>Business Intern</h5>
          <h5>Portland, OR</h5>
          <h5>June '12 - Aug '12</h5>
          <div>
            <p>Drafted processes to accommodate more Medicaid patients via
            healthcare reform</p>
            <p>Analyzed utilization, claims, and provider contracting in
            Kaiser clinics vs outside clinics</p>
            <p>Investigated the "CenteringPregnancy" model of care and
            proposed its implementation</p>
          </div>
        </div>
      </div></a>
    </figure>
  </div>
</div>
<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <a href="http://nachc.org" target="_blank">
      <div class="image">
        <img alt="NACHC" src="static/images/nachc.jpg">
        <div class="image-text-content text-left">
          <h2><b>NACHC</b></h2><br>
          <h5>Research Intern</h5>
          <h5>Washington D.C.</h5>
          <h5>June '11 - Aug '11</h5>
          <div>
            <p>Synthesized research concerning new models of care in
            Community Health Centers</p>
            <p>Calculated statistics concerning the status of Community
            Health Centers using gov’t data</p>
            <p>Created a presentation investigating the future of US health
            professions training programs</p>
          </div>
        </div>
      </div></a>
    </figure>
  </div> -->
</div>
