<h1 class="text-left" id="Projects">Projects</h1>
<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="Flights140" src="static/images/flights140.jpg">
        <div class="image-text-content text-left">
                <a href="https://github.com/snackattas/Flights140" target="_blank">
          <h2><b>Flights140 (no longer live)</b></h2><br>
          <h5>Created Nov '16</h5>
        </a>
            <div class="block">
              <p>Website that uses Twitter to find airfare deals and alerts users (via email and/or text)</p>
              <p>Technologies Used:</p>
            </div>
            <div class="block">
              <p class="p-inline">Python</p>
              <p class="p-inline">Javascript</p>
              <p class="p-inline">Django</p>
              <p class="p-inline">Jinja2</p>
              <p class="p-inline">Celery</p>
              <p class="p-inline">RabbitMQ</p>
            </div>
            <div class="block">
              <p class="p-inline">PostgreSQL</p>
              <p class="p-inline">Python Social Auth</p>
              <p class="p-inline">Google Places API</p>
              <p class="p-inline">AJAX</p>
            </div>
            <div class-"block">
              <p class="p-inline">Supervisor</p>
              <p class="p-inline">Regex</p>
              <p class="p-inline">SendGrid</p>
              <p class="p-inline">Twilio</p>
              <p class="p-inline">Heroku</p>
            </div>
            <div class-"block">
            <p class="p-inline">Semantic UI</p>
            <p class="p-inline">Bootstrap</p>
            <p class="p-inline">Animate.css</p>
          </div>
          </div>
        </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="Shut The Box" src="static/images/shutthebox.jpg">
        <div class="image-text-content text-left">
                <a href="http://shutthebox.herokuapp.com" target="_blank">
          <h2><b>Shut The Box</b></h2><br>
          <h5>Created Nov '16</h5>
        </a>
            <div class="block">
              <p>Website implementation of the British dice rolling game Shut The Box</p>
              <p>Technologies Used:</p>
            </div>
            <div class="block">
              <p class="p-inline">Node.js</p>
              <p class="p-inline">Express</p>
              <p class="p-inline">Promise.js</p>
              <p class="p-inline">Webpack</p>
              <p class="p-inline">jQuery</p>
              <p class="p-inline">Underscore.js</p><br>
            </div>
  <div class="block">
            <p class="p-inline">Semantic UI</p>
            <p class="p-inline">Animate.css</p>
            <p class="p-inline">pug</p>
            <p class="p-inline">Python</p>
            <p class="p-inline">Google Cloud Endpoints</p>
            <p class="p-inline">Heroku</p>
          </div>
          </div>
        </div></a>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="LizardApp" src="static/images/testing_goat.png">
        <div class="image-text-content text-left">
                <a href="https://www.obeythetestinggoat.com/pages/book.html#toc" target="_blank">
          <h2><b>Obey The Testing Goat</b></h2><br>
          <h5>Created Nov '16</h5></a>
            <div class="block">
              <p>Went through this amazing book, chapter by chapter</p>
              <p>Created a <a href="https://github.com/snackattas/superlists" target="_blank">website</a> using TDD with 100% test coverage</p>
              <p>Technologies Used:</p>
            </div>
            <div class="block">
              <p class="p-inline">Python</p>
              <p class="p-inline">Django</p>
              <p class="p-inline">Gunicorn</p>
              <p class="p-inline">Selenium</p>
              <p class="p-inline">Fabric</p>
              <p class="p-inline">Digital Ocean</p>
              <p class="p-inline">Jenkins</p>
            </div>
          </div>
        </div>
    </figure>
  </div>
</div>





<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="LizardApp" src="static/images/lizardapp.jpg">
        <div class="image-text-content text-left">
                <a href="https://lizardapp.herokuapp.com/" target="_blank">
          <h2><b>Lizard Mgmt Tool</b></h2><br>
          <h5>Created Sept '16</h5></a>
            <div class="block">
              <p>Add, edit, and delete lizards and lizard's hobbies</p>
              <p>Accepts login from Google and/or Facebook</p>
              <p>Logs all recent activity on the homepage</p>
              <p>Technologies Used:</p>
            </div>
            <div class="block">
              <p class="p-inline">Python</p>
              <p class="p-inline">Flask</p>
              <p class="p-inline">SQLAlchemy</p>
              <p class="p-inline">PostgreSQL</p>
              <p class="p-inline">Jinja2</p>
              <p class="p-inline">Bootstrap</p>
              <p class="p-inline">Heroku</p>
            </div>
          </div>
        </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="LizardApp" src="static/images/firstproject.jpg">
        <div class="image-text-content text-left">
                <a href="http://first-project-1062.appspot.com/" target="_blank">
          <h2><b>Note-Taker</b></h2><br>
          <h5>Created April '16</h5></a>
            <div class="block">
              <p>Final project for Udacity's Intro to Programming
              Nanodegree</p>
              <p>Note-taking app with heirarchy of note types</p>
              <p>Responsive design</p>
              <p>Technologies Used:</p>
            </div>
            <div class="block">
              <p class="p-inline">Python</p>
              <p class="p-inline">jQuery</p>
              <p class="p-inline">Bootstrap</p>
              <p class="p-inline">Google App Engine</p>
            </div>
          </div>
        </div>
    </figure>
  </div>
</div>
