<h1 class="text-left" id="Skills">Skills</h1>
<div class="row">
 <div class="six columns big-items">
  <figure class="cool-effect smaller">
   <div class="image">
    <img alt="Code" src="static/images/code.jpg">
    <div class="image-text-content smaller-text text-left">
     <h2>
      <b>Code</b>
     </h2><br>
     <div>
      <div class="block">
       <p class="p-inline">Python</p>
       <p class="p-inline">Javascript</p>
       <p class="p-inline">Ruby</p>
       <p class="p-inline">Unix</p>
       <p class="p-inline">SQL</p>
       <p class="p-inline">SASS</p>
       <p class="p-inline">HTML/CSS</p>
       <p class="p-inline">VBA</p>
       <p class="p-inline">Cach&eacute;</p>
      </div>
     </div>
    </div>
   </div>
  </figure>
 </div>
 <div class="six columns big-items">
  <figure class="cool-effect smaller">
   <div class="image">
    <img alt="Frameworks" src="static/images/frameworks.jpg">
    <div class="image-text-content smaller-text text-left">
     <h2>
      <b>Frameworks</b>
     </h2><br>
     <div>
      <div class="block">
       <p class="p-inline">Django</p>
       <p class="p-inline">Flask</p>
       <p class="p-inline">Jinja2</p>
       <p class="p-inline">Node.js</p>
       <p class="p-inline">jQuery</p>
       <p class="p-inline">Selenium</p>
       <p class="p-inline">RSpec</p>
       <p class="p-inline">pug</p>
       <p class="p-inline">Bootstrap</p>
      </div>
     </div>
    </div>
   </div>
  </figure>
 </div>
</div>
