<h1 class="text-left" id="Skills">Skills</h1>
<div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Code" src="static/images/code.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Code</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">Python</p>
              <p class="p-inline">Javascript</p>
              <p class="p-inline">Ruby</p>
              <p class="p-inline">Unix</p>
              <p class="p-inline">SQL</p>
              <p class="p-inline">SASS</p>
              <p class="p-inline">HTML/CSS</p>
              <p class="p-inline">Groovy</p>
              <p class="p-inline">Cach&eacute;</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Libraries" src="static/images/libraries.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Libraries</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">NumPy</p>
              <p class="p-inline">Fabric</p>
              <p class="p-inline">Scrapy</p>
              <p class="p-inline">Celery</p>
              <p class="p-inline">Requests</p>
              <p class="p-inline">SQLAlchemy</p>
              <p class="p-inline">BeautifulSoup</p>
              <p class="p-inline">Django REST API</p>
              <p class="p-inline">Node.js</p>
            </div>
            <div class="block">
              <p class="p-inline">jQuery</p>
              <p class="p-inline">underscore.js</p>
              <p class="p-inline">Google Places API</p>
              <p class="p-inline">boto3</p>
              <p class="p-inline">Faker</p>
              <p class="p-inline">ActiveRecord</p>
              <p class="p-inline">FactoryGirl</p>
              <p class="p-inline">HTTParty</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Code" src="static/images/database.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Databases</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">MySQL</p>
              <p class="p-inline">PostgreSQL</p>
              <p class="p-inline">Google Datastore</p>
              <p class="p-inline">MongoDB</p>
              <p class="p-inline">Snowflake</p>
              <p class="p-inline">CouchDB</p>
              <p class="p-inline">Amazon s3</p>
              <p class="p-inline">SQLite</p>




            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Deployment" src="static/images/deployment.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Deployment</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">AWS</p>
              <p class="p-inline">nginx</p>
              <p class="p-inline">Apache</p>
              <p class="p-inline">Git</p>
              <p class="p-inline">Heroku</p>
              <p class="p-inline">Digital Ocean</p>
              <p class="p-inline">Google App Engine</p>
              <p class="p-inline">Google Cloud Endpoints</p>
              <p class="p-inline">Jenkins Pipelines</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Techniques" src="static/images/frameworks.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Frameworks</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">Flask</p>
              <p class="p-inline">Django</p>
              <p class="p-inline">Express.js</p>
              <p class="p-inline">Rails</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Environment" src="static/images/testing.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Testing</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">RSpec</p>
              <p class="p-inline">QUnit</p>
              <p class="p-inline">pytest</p>
              <p class="p-inline">unittest</p>
              <p class="p-inline">Selenium</p>
              <p class="p-inline">Webkit</p>
              <p class="p-inline">SitePrism</p>
              <p class="p-inline">Capybara</p>
              <p class="p-inline">Cucumber</p>
              <p class="p-inline">Browserstack Automate</p>
              <p class="p-inline">Jenkins</p>
              <p class="p-inline">Xvfb</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>






<div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Techniques" src="static/images/technique.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Techniques</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">UX</p>
              <p class="p-inline">TDD</p>
              <p class="p-inline">BDD</p>
              <p class="p-inline">Research</p>
              <p class="p-inline">Web Design</p>
              <p class="p-inline">Data Science</p>
              <p class="p-inline">Critical Thinking</p>
              <p class="p-inline">Exploratory Thinking</p>
              <p class="p-inline">Usability Testing</p>
              <p class="p-inline">CI/CD</p>
              <p class="p-inline">Systems Thinking</p>
              <p class="p-inline">Software Testing Theory</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Environment" src="static/images/tools.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Tools</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">VMWare</p>
              <p class="p-inline">Docker</p>
              <p class="p-inline">Docker compose</p>
              <p class="p-inline">Vagrant</p>
              <p class="p-inline">Virtualbox</p>
              <p class="p-inline">Bash Scripting</p>
              <p class="p-inline">Groovy</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
<div class="row">
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Interests" src="static/images/interests.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Interests</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">Food Justice</p>
              <p class="p-inline">Sustainability</p>
              <p class="p-inline">Medical Literacy</p>
              <p class="p-inline">Nutrition</p>
              <p class="p-inline">World Cultures</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
  <div class="six columns big-items">
    <figure class="cool-effect smaller">
      <div class="image">
        <img alt="Languages" src="static/images/language.jpg">
        <div class="image-text-content smaller-text text-left">
          <h2><b>Languages</b></h2><br>
          <div>
            <div class="block">
              <p class="p-inline">Intermediate Spanish</p>
              <p class="p-inline">Beginner Czech</p>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
