<h1 class="text-left" id="Speaking">Speaking</h1>
<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2020" src="static/images/seleniumconf.jpg">
        <div class="image-text-content text-left">
                <a href="https://confengine.com/selenium-conf-2020/proposal/13759/selenium-for-all-setting-your-team-up-for-success-so-anyone-can-understand-and-write-tests" target="_blank">
          <h2><b>SeleniumConf India</b></h2><br>
          <h5>June 2020 (Upcoming)</h5>
          <div class="block">
            <p>Selenium For All - Setting Your Team Up For Success So Anyone Can Understand and Write Tests</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="quest for quality" src="static/images/quest.jpg">
        <div class="image-text-content text-left">
                <a href="https://www.questforquality.eu/speakers/zachary-attas/" target="_blank">
          <h2><b>Quest For Quality Ireland</b></h2><br>
          <h5>Nov 2019</h5>
          <div class="block">
            <p>Services: How to Test Them When You Have The Keys to The Castle</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>


<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2018" src="static/images/agile.jpg">
        <div class="image-text-content text-left">
                <a href="https://agiletestingdays.us/session/flaky-test-or-actual-issue-you-decide/" target="_blank">
          <h2><b>AgileTestingDays Chicago</b></h2><br>
          <h5>May 2019</h5>
          <div class="block">
            <p>Flaky test or actual issue? You decide</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>


<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2018" src="static/images/seleniumconf.jpg">
        <div class="image-text-content text-left">
                <a href="https://confengine.com/selenium-conf-2018/proposal/6157/how-to-un-flake-flaky-tests-a-new-hires-toolkit" target="_blank">
          <h2><b>SeleniumConf India</b></h2><br>
          <h5>June 2018</h5>
          <div class="block">
            <p>How to Un-Flake Flaky Tests- a New Hire's Toolkit</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>
