<h1 class="text-left" id="Speaking">Speaking</h1>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="appium conference sept 2021" src="static/images/appiumconf.png">
        <div class="image-text-content text-left">
          <a href="https://confengine.com/conferences/appium-conf-2021/proposal/15905/what-else-can-we-automate-how-to-extend-your-skills-and-constantly-be-learning" target="_blank">
          <h2><b>Appium Conference</b></h2><br>
          <h5>September 2021</h5>
          <div class="block">
            <p>What else can we automate? How to extend your skills and constantly be learning</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="rabbitmq summit July 2021" src="static/images/rabbitmq_logo.png">
        <div class="image-text-content text-left">
                <a href="https://www.youtube.com/watch?v=uAs1ot0zN7Y" target="_blank">
          <h2><b>RabbitMQ Summit</b></h2><br>
          <h5>July 2021</h5>
          <div class="block">
            <p>Take The Path Of Least Resistance For Your Test Data</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="rabbitmq summit Nov 2020" src="static/images/testing_united.png">
        <div class="image-text-content text-left">
                <a href=https://www.linkedin.com/posts/testing-united_testingunited-testing-softwaretesting-activity-6666636124942802944-n5jX" target="_blank">
          <h2><b>Testing United</b></h2><br>
          <h5>Nov 2020</h5>
          <div class="block">
            <p>Setting Yourself Up For Success So Anyone Can Understand And Write Tests</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2020" src="static/images/seleniumconf.jpg">
        <div class="image-text-content text-left">
                <a href="https://confengine.com/selenium-conf-2020/proposal/13759/selenium-for-all-setting-your-team-up-for-success-so-anyone-can-understand-and-write-tests" target="_blank">
          <h2><b>SeleniumConf India</b></h2><br>
          <h5>June 2020</h5>
          <div class="block">
            <p>Selenium For All - Setting Your Team Up For Success So Anyone Can Understand and Write Tests</p>
            <p><a target="_blank" href="https://www.continuoustestingmeetup.com/events/2020-07-29/">This talk was also presented at the Continuous Testing Meetup based out of Berlin</a></p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="quest for quality" src="static/images/quest.jpg">
        <div class="image-text-content text-left">
                <a href="https://www.linkedin.com/posts/quest-for-quality-conference_test-q4q2019-tech-activity-6572107809398370304-3sN-" target="_blank">
          <h2><b>Quest For Quality</b></h2><br>
          <h5>Nov 2019</h5>
          <div class="block">
            <p>Services: How to Test Them When You Have The Keys to The Castle</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>


<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2018" src="static/images/agile.jpg">
        <div class="image-text-content text-left">
                <a href="https://agiletestingdays.us/session/flaky-test-or-actual-issue-you-decide/" target="_blank">
          <h2><b>AgileTestingDays Chicago</b></h2><br>
          <h5>May 2019</h5>
          <div class="block">
            <p>Flaky test or actual issue? You decide</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>


<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="seleniumconf india 2018" src="static/images/seleniumconf.jpg">
        <div class="image-text-content text-left">
                <a href="https://confengine.com/selenium-conf-2018/proposal/6157/how-to-un-flake-flaky-tests-a-new-hires-toolkit" target="_blank">
          <h2><b>SeleniumConf India</b></h2><br>
          <h5>June 2018</h5>
          <div class="block">
            <p>How to Un-Flake Flaky Tests- a New Hire's Toolkit</p>
          </div>
        </a>
          </div>
        </div>
    </figure>
  </div>
</div>

<div class="row">
  <div class="offset-by-one ten columns big-items">
    <figure class="cool-effect u-center-abs u-text-center">
      <div class="image">
        <img alt="podcast" src="static/images/rubytestingpodcast.jpg">
        <div class="image-text-content text-left">
                <a href="https://podcast.app/selenium-and-qa-with-zach-attas-e39339212/" target="_blank">
          <h2><b>The Ruby Testing Podcast</b></h2><br>
          <h5>by Jason Swett</h5>
        </a>
            <div class="block">
              <p>Jason and I talk about QA, Selenium, SitePrism and a number of other things</p>
            </div>
          </div>
        </div>
    </figure>
  </div>
</div>
